# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Robot Reports
output.xml
report.html
log.html

reports/
screenshots/

# VS Code
.vscode/settings.json

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.pytest_cache/